* {
  font-size: 12px;
  font-family: "JetBrains Mono";
}

window#waybar {
    background: rgba(0,0,0,0);
}

#battery {
  margin: 3px 0px 3px 0px;
  background: #1d1f21;
  padding: 5px;
  color: #c5c8c6;
}

#custom-quit {
  margin: 3px 3px 3px 0px;
  padding: 5px 7px 5px 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 2px solid #1d1f21;
  border-top: 2px solid #1d1f21;
  border-bottom: 2px solid #1d1f21;
  background: #F00;
  color: #FFF;
}

#clock {
  margin: 3px 0px 3px 3px;
  padding: 5px;
  color: #FFF;
  background: #1d1f21;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #c5c8c6;
}

#custom-keyboard {
  background: #1d1f21;
  color: #c5c8c6;
  padding: 5px 5px 5px 7px;
  margin: 3px 0px 3px 3px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#custom-media {
  margin: 3px;
  padding: 5px 7px 5px 7px;
  border-radius: 10px;
  background: #1d1f21;
  color: #c5c8c6;
}
#pulseaudio {
  margin: 3px 3px 3px 0px;
  padding: 5px 7px 5px 5px;
  background: #1d1f21;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #c5c8c6;
}

#network {
  background: #1d1f21;
  color: #c5c8c6;
  margin: 3px 0px 3px 0px;
  padding: 5px;
}

#cpu {
  background: #1d1f21;
  color: #c5c8c6;
  margin: 3px 0px 3px 0px;
  padding: 5px;
}

#memory {
  background: #1d1f21;
  color: #c5c8c6;
  margin: 3px 0px 3px 0px;
  padding: 5px;
}
